services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  producer:
    image: streaming-orders-app
    container_name: order-producer
    depends_on:
      - kafka
    environment:
      - KAFKA_BROKER_ADDR=kafka:9092
      - KAFKA_ORDER_TOPIC=orders

  consumer:
    image: streaming-orders-app
    container_name: order-consumer
    depends_on:
      - kafka
    command: ["/app/consumer"]
    environment:
      - KAFKA_BROKER_ADDR=kafka:9092
      - KAFKA_ORDER_TOPIC=orders

  kafka-exporter:
    image: danielqsj/kafka-exporter:v1.6.0
    container_name: kafka-exporter
    depends_on:
      - kafka
    environment:
      KAFKA_SERVER: kafka:9092
    ports:
      - "9308:9308"

  prometheus:
    image: prom/prometheus:v2.53.0
    container_name: prometheus
    depends_on:
      - kafka-exporter
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:10.4.2
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning:ro


