global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka-exporter:9308']

  - job_name: 'order-consumer'
    static_configs:
      - targets: ['order-consumer:2112']



